img {width: 100%; height: 200px;}

#ilk_satır {
			background:yellow;
			text-align:center;
			font-weight:bold;
			}
			
			
* {font-family:helvetica}

td:nth-child(1) {text-align:center-left}

footer {text-align:center;}