* {
	margin: 0px ;
	padding: 0px ;

}



#tumsayfa {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	padding: 1px;
}

#ust_kisim {
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	

	
}
#baslik {
	background-image: url("images/arkaplan.jpg");
	color: #fff ;
	padding: 35px ;
	text-align: center;
	font-size : 20px ;
}

footer p {
	background: black ;
	color: white ;
	text-align: center;
}

nav {
	background: black ;
	padding: 5px;
	

	
}

nav ul>li {
	display: inline;
	padding: 10px;

	


}

nav ul li a {
	list-style: none;
	font-weight: bold;
	text-decoration: none;
	padding-left:  25px ;
	padding-right: 25px ;
	color: #fff ;
}

nav ul li a:hover {
	background: #fff ;
	color: black ;
}

#govde {
	display: -webkit-box ;
	-webkit-box-flex:1;
	-webkit-box-orient: horizontal;
	padding: 35px ;
	margin: 10px;
	margin-top: 130px;
}

#yazilar {
	-webkit-box-flex:1;
	margin: 10px;
	margin-right: 140px;
}
section footer {
	text-align: right;
}

section article p {
	text-align: justify;
}
aside {
	margin: 5px;
}



#dipnot_text {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	background: black;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

#dipnot_text p {
	
	-webkit-box-flex: 1;
	vertical-align: middle;
	text-align: justify;
	padding: 0px 40px 0px 0px;
	

}



aside {
	position: fixed;
	right: 0;
}

#iletisim_bilgileri {
	
	margin: auto;
	font-size: 35px;
}

#iletisim_bilgileri h1 {
	text-decoration: underline;
}
